.header{
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.header_area{
    text-align: center;
}
.header_area h1{
    margin: 0;
    font-size: 40px;
    font-weight: normal;
}
#button{
    text-align: center;
}
